# ORGANIZATION
GITHUB_ORGANIZATION='organization-name'
GITHUB_TOKEN='admin-access-token'

# ENVIRNMENT
APP_ENV='local'

# Application
APP_NAME=''
APP_VERSION='1.0.0'
APP_PORT='3000'
APP_HOST='0.0.0.0'

# Log
LOGGING_DIR='logs'
LOGGING_LEVEL='debug'

# Test Environment
TEST_APP_PORT='9949'
